/* my CSS page */
/* all colours found on W3schools HTML Color Names page*/
/* all text styles found on W3schools CSS Fonts and CSS Text pages */
/* each element was selected based off of W3schools CSS selectors page */

/* simple background, indented a little to the left to make the page look more full, referencing W3schools CSS Backgrounds page */
body {
  background-color: #eee8aa;
  padding-left: 50px;
}

/* large centered text for heading, smaller text styles and non-centered for rest */
h1 {
  color: #db7093;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 40px;
  text-align: center;
}

h2 {
  color: #20B2AA;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  margin-left: 10px;
}

h3 {
  color: #8B4513;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  margin-left: 20px;
}

p {
  font-family: Veranda, Helvetica, sans-serif;
  color: #008080;
  font-size: 25px;
  margin-left: 20px;
}

/* using the id selector to target a specific element, referencing W3schools CSS Selectors page */
#foot {
  font-family: "Times New Roman", Times, serif;
  color: #800000;
  font-size: 12px;
}

/* using the class selector to target a specific element, referencing W3schools CSS Selectors page */
.abc {
  color: #483D8B;
  font-size: 18px;
}

.dfg {
  color: #8B4513;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

/* aligning the navigation bar to the center, referencing CSS Navigation Bar page */
nav {
  text-align: center;
}

/* fancy and fat links for the navigation bar and external links, referencing CSS Links page */
a:link, a:visited {
  background-color: #db7093;
  color: #008080;
  border: 3px solid #FFE4E1;
  padding: 20px 20px;
  text-align: center;
  font-family: Veranda, Helvetica, sans-serif;
  text-decoration: none;
  display: inline-block;
}

/* link changes in colour when hovered over */
a:hover, a:active {
  background-color: #eee8aa;
  color: #B0C4DE;
  text-decoration: underline;
}

/* styling the aside element to take up a large chunk on the page, referencing W3schools HTML <aside> Tag page */
aside {
  width: 50%;
  padding-left: 30px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 30px;
  float: right;
  background-color: #FFE4E1;
}
